:root{
--primary-text-color: #8F95A5;
--secondary-text-color:#263238;
--third-text-color: #546269;
--forth-text-color: #2A3246;
--nav-color: #263238;
--primary-title: #000000;
--secondary-title:#263238;
--primary-btn: #000000;
--secondary-btn: #FFFFFF;
--logo-first: #000000;
--logo-second: #939393;
--background-color: #FFFFFF;
}

--------------/* global styles */--------------

body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

button {
    cursor:pointer;
}

.link{
    text-decoration: none;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1378px;
    padding: 0 20px;
    margin: 0 auto;
}

--------------/* HEADER */----------------

.header{
   padding-top: 55px;
}

.header-container{
    display: flex;
}

.header-nav{
    display: flex;
    gap: 236px;
    align-items: center;
}

.header-logo{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: var(--logo-first);
}

.header-second-logo{
    color: var(--logo-second);

}

.header-list{
    display: flex;
    gap: 50px;
}

.header-link{
    display: block;
    padding: 20px 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--nav-color);
}

.header-btn{
    margin-left: auto;
    width: 312px;
    height: 70px;

    font-family: inferit;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-btn);
    background-color: var(--background-color);
    border: 2px solid #263238;
    border-radius: 10px;
}

.text-none {
    background-color: #EEEEEE;
    color: #546269;
    width: 260px;
}

.sub-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #263238;
}

/* HERO */
.hero{
    padding-top: 55px;
}
.hero-container{
    display:flex;
    gap: 144px;
}

.hero-text-container{
max-width: 540px;
width: 100%;
}

.hero-left-container{
    display: flex;
    gap: 34px;
    margin-bottom: 40px;
}

.hero-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--primary-title);
    max-width: 386px;
}

.hero-svg{
    position: relative;
    top: 111px;
}

.hero-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: var(--primary-text-color);
    margin-bottom: 60px;
}

.hero-btn{

    font-style: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-btn);

    width: 426px;
    height: 100px;
    background: #263238;
    border: 1px solid #000000;
    border-radius: 10px;
}

/* SKILLS */

.skills{
    padding-top: 180px;
    padding-bottom: 180px;
}

.skills-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: var(--primary-title);
    text-align: center;
    margin-bottom: 60px;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.skills-sub-container{

}

.skills-item{
    background: #F5F5F5;
    border-radius: 10px;
}
.skills-item-title{

    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: var(--secondary-title);
    margin-top: 24px;
}